* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Heebo", sans-serif;
}

img {
    width: 100%;
    display: block;
}

a {
    display: inline-block;
    text-decoration: none !important;

}

i {
    display: inline-block;
}


ul,li {
    list-style: none;
    display: block;
}







